.contact-box {
    margin: 20px;
    min-height: 25vh;
    background-color: #e8daed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1C0742;

}

#dark .contact-box {
    color: #e8daed;
    background-color: #1C0742;
}
#contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}